body {
  background: #000;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  cursor: url('../img/flashlight.png'), auto;
}

.frame {
  background-image: url('../img/bg.png');
  background-repeat: repeat-x;
  background-position: left center;
  width: 100%;
  height: 100%;

  -webkit-clip-path: circle(80px);
  clip-path: circle(80px);
}

img{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  &:hover{
    cursor: pointer;
  }
}

// h1{
// }
// .circle-follow {
//   border:2px solid red;
// 	position :absolute;
// 	overflow : hidden;
// 	background-color: transparent;
// 	width :320px;
// 	height: 320px;
//     top:calc( 50% - 160px);
//     left:calc( 50% - 160px);
//     -webkit-border-radius: 160px;
//     border-radius: 160px;
//     -webkit-transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
//     transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
//     opacity : 0;
// }
//
// .circle-follow.moving {
// 	opacity : 1;
// }
